body {
  background: #fafafa;
  color: #333;
}
.wrapper {
  padding: 0 2rem;
}
.actor {
  stroke: #CCCCFF;
  fill: #E2ECFF;
}
text.actor {
  fill: black;
  stroke: none;
  font-size:12px;
}
.actor-line {
  stroke: grey;
}
.messageLine0 {
  stroke-width: 1.5;
  stroke-dasharray: "2 2";
  marker-end: "url(#arrowhead)";
  stroke: black;
}
.messageLine1 {
  stroke-width: 1.5;
  stroke-dasharray: "2 2";
  stroke: black;
}
#arrowhead {
  fill: black;
}
.messageText {
  fill: black;
  stroke: none;
  font-size:12px;
}
.labelBox {
  stroke: #CCCCFF;
  fill: #ECECFF;
}
.labelText {
  fill: black;
  stroke: none;
}
.loopText {
  fill: black;
  stroke: none;
}
.loopLine {
  stroke-width: 2;
  stroke-dasharray: "2 2";
  marker-end: "url(#arrowhead)";
  stroke: #CCCCFF;
}
.note {
  stroke: #decc93;
  stroke: #CCCCFF;
  fill: #fff5ad;
}
.mmcode {
  padding: 5px;
  background:#4C4C4C;
  color:#F0F0F0;
  font-family: 'Consolas',courier,fixed-width;
}
.noteText {
  fill: black;
  stroke: none;
  font-size: 12px;
}
.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}


/* OVERRIDES */

table.hoverable tr:hover td {
  background: #fff;
}
a.icon {
  margin-right: 0;
  display: inline-block;
}
a.weblink,
a.localfile,
a.gistlink,
a.internallink {
  text-transform: none;
  color: #333;
  text-align: center;
  min-width: 50px;
  display: inline-block;
}
a.weblink:hover ,
a.localfile:hover,
a.gistlink:hover,
a.internallink:hover {
  color: #333;
  text-decoration: underline;
}

textarea.materialize-textarea {
  overflow-y: scroll;
}

.edgeLabel {
  background: rgba(255,255,255,0.85);
}
h1 {
  font-size: 1.6rem;
  line-height: 1;
  margin: 1rem 0;
}
h2 {
  font-size: 1.4rem;
  line-height: 1;
}
h3 {
  font-size: 1.2rem;
  line-height: 1;
}
h4 {
  font-size: 1rem;
  line-height: 1;
}
h5 {
  font-size: 1rem;
  line-height: 1;
}
/* mermaid overrides */
.card a {
  margin-right: 0;
  text-transform: none;
  text-decoration: underline;
  color: blue;
}
.card a:hover {
  color: #333;
}
.node rect, .node circle, .node polygon {
  fill: #f5f5f5 !important;
  stroke: #d0d0d0 !important;
}
.left {
  float: left;
  width: 45%;
}
.right {
  float: right;
  width: 50%;
}

.diagclass {
  clear: both;
  width: 100%;
}

/* materialize overrides */
.materialize-textarea {
  border: 1px solid #333 !important;
  padding: 5px 3px !important;
  background: white !important;
}
